body{
	margin: 0;
	height: 650px;
	background: url(blue.jpg);
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
}
.log{
	height: 450px;
	width:400px;
	border: 1px solid red;
	background: black;
	opacity: 0.8;
	transform: translate(115%,20%);
	font-family: sans-serif;
}
.log1{
	transform: translateX(160px);
	height:80px;
	width: 80px;
}
h1{
	text-align: center;
	size: 2px;
	color: grey;
}
.log p{
	margin: 6px;
	padding:5px;
	font-weight: bold;
	color: grey;
}
.log input{
	margin: 8px;
	padding-left: 5px;
}
.log a{
	margin: 10px;
}
.log input[type="text"],input[type="password"]
{
	border: none;
	border-bottom: 1px solid grey;
	color: #ffc;
	font-family: sans-serif;
	font-size:20px;
	background: transparent;
}
.log input[type="submit"]
{
	transform: translateX(45px);
	height: 35px;
	width: 300px;
	border: 2px;
	background: #ff2525;

}
span{
	color: red;
	font-weight: bold;
}