
body{
	text-align: center;
	background:#f1f1f1;
	
}
table{
	top: 40px;
	border: solid ;
	align-content: center;
}
td,tr,th{
	border: 2px solid #a1fff2;
	text-align: center;
}
button{
	background-color: lightblue;
	font-size: 20px;
	padding: 14px 14px;
	text-align: center;
	border: 2px solid ;
}
th{
	text-align: right;
	font-size: 40px;

}
#eq{
padding: 14px 40px;

}