{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initaial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'home2.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        body{
            background-image:url(http://www.joburgchiropractor.co.za/images/background.jpg);
        }
        .navbar.navbar-inverse{
            background-color: lightblue;
            border: none;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="active"><h3><span style="color: blue">vid</span>gyor</h3></li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><h4><span class="glyphicon glyphicon-user"></span>Hello{% for message in messages %}
                    {{ message }}
                    {% endfor %}&nbsp;&nbsp;</h4></li>
                <li><h4><span class="glyphicon glyphicon-log-out"></span><a href="{% url 'home' %}">logout&nbsp;</a></h4></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <form action="upload">
            <div class="navbar-right">&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-default">upload </button>&nbsp;&nbsp;
            </div>
            </form>
            <div class="navbar-right">
                <input type="text" class="form-control" placeholder="Search..." id="input">
            </div>
        </div>
    </nav>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Sr.No.</th>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>ID</th>
                <th>Type</th>
                <th>Created_On</th>
                <th></th>
            </thead>
            {% for datas in data %}
            <tbody id="mydata">
                <tr>
                    <td>{{ datas.id }}</td>
                    <form action="play" method="POST"><td><img src="{{ datas.image.url }}" alt="img" height="70" width="90"></form>
                    <td>{{ datas.title }}</td>
                    <td>{{ datas.id }}</td>
                    <td>{{ datas.video_type }}</td>
                    <td>{{ datas.date }}</td>
                    <form action="play/{{datas.id}}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <td><button type="submit">PLAY</button></td></form>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container" style="text-align: center">
        <ul class="pagination">
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
        </ul>
    </div>

    <script>
        $(document).ready(function(){
          $("#input").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#mydata tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
     </script>

</body>
</html>