{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

</head>
<body>
    
    <div>
        <h1 class="name">vid<span style="color:grey">gyor</span></h1>
    </div>
    <div class="layout">
        <span style="font-size: 40px">Login</span>
        <form action="content" method="POST">
            {% csrf_token %}        
            <p>
                Username <input type="textbox" name="username">
            </p>
            <p>
                Password <input type="password" name="password">
            </p>
            <p style="color: red"> 
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </p>
            <button> Signin
            </button>
        </form>
        <form action="register">
            <p>
            </p>
            <button>
                Signup
            </button>
        </form>
    </div>

</body>
</html>